

.lower-canvas{
    position: initial !important;
}

#container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-200);
    min-height: 100vh;
}

.Toolbar{
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--background-neutral-container);
    border-radius: 4px;
    position: fixed;
    left: 0px;
}

.toolbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 16px 0;
}

.toolbox__top{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#toolbutton__image{
    position: absolute;
    right: 20px;
}

.divideline{
    border: 0.5px solid var(--border-neutral-subtle);
    margin: 4px 0;
    width: 90%;
}

.buttonbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon-with-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


.toolbutton{
    position: absolute;
    right: 20px;
}

#canvas{
    border: 1px solid var(--border-neutral-subtle);
    z-index: 2;
}

.settings{
    position: fixed;
    right: 16px;
    top: 50%;
    gap: 8px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: var(--background-neutral-container);
    text-align: left;
}

.dropbox{
    height: 100%;
    width: 100%;
}
.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 30%);
  grid-auto-rows: 100px; /* 열 크기를 픽셀 단위로 */
  gap: 12px; /* 아이템 간격 */
  height: 100%; /* 부모 높이에 맞추기 */
  align-content: start; /* 부모 안에서 위쪽부터 차곡차곡 */
  background: transparent;
  padding: 16px;
}
.grid-item {
    background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
}

.fileicon{
    position: absolute;
    top: 50%;
    justify-self: center;
    
}

.imagetoolbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagetoolbar__top{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.imagetoolbar__label{
    margin-right: 50px;
    margin-left: 10px;
}