.register-container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  background-color: white;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.register-box input {
  padding: 10px;
  font-size: 14px;
}

.register-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}